torch
torchvision
packaging
sentencepiece
einops
fastapi
markdown2
numpy
openai==0.27.8
opencv_python
Pillow
pycocotools
ray
Requests
shortuuid
tqdm
transformers
uvicorn
scipy
bitsandbytes
timm
blobfile
mypy
pytest
requests
tensorboardX
ftfy
opencv-python
pyarrow
torchmetrics
deepspeed
pycocoevalcap
torchscale
hydra-core
accelerate
